---
import Layout from '../layouts/Layout.astro';
import smashLogo from '../assets/logos/smash.png';

const projects = [
    {
        title: 'SMASH Padelcenter - Klub-app',
        description: 'En klub-app udviklet til SMASH Padelcenter i Horsens. Web-appen gør det nemt for medlemmer at administrere deres klubaktiviteter, se ledige tider, og engagere sig digitalt i klubbens fællesskab. Systemet inkluderer også betaling af ting i centeret med integration til Stripe og Flatpay, og er bygget som en moderne MERN-stack løsning med fokus på brugervenlighed og performance.',
        tags: ['PWA', 'MongoDB', 'React', 'Node.js', 'Stripe', 'Flatpay'],
        link: "www.smash.rns-apps.dk"
    },
    {
        title: 'SMASH Padelcenter - Betalingssystem',
        description: 'En skræddersyet PWA, der fungerer som det digitale selvbetjeningssystem ' +
            'på en fastmonteret iPad i SMASH Padelcenter Stensballe. Her kan gæster hurtigt starte en ' +
            'personlig regning ved blot at indtaste deres telefonnummer, tilføje varer fra centret og enten betale' +
            ' med det samme via et SMS-link eller starte en åben regning og betale senere. Systemet ' +
            'sender daglige SMS-påmindelser til kunder med udestående regninger og integrerer direkte med vores betalingsflow. ' +
            'Resultatet er en moderne, intuitiv og fuldautomatisk løsning, der både gør købsoplevelsen nem for gæsterne, ' +
            'og effektiv for centeret.',
        tags: ['PWA', 'MongoDB', 'React', 'Node.js', 'Stripe', 'Flatpay'],
        link: "www.pos.rns-apps.dk"
    }
]
---
<Layout title="Projekter">
    <section class="container mx-auto px-6 py-20">
        <div class="text-center mb-12">
            <h1 class="text-5xl font-extrabold tracking-tighter">Vores Arbejde</h1>
            <p class="text-slate-400 mt-2 max-w-2xl mx-auto">Her er et kig på vores seneste projekt. Vi er stolte af det arbejde, vi leverer, og hvordan det løser reelle problemer for vores klienter.</p>
        </div>

        <div class="grid md:grid-cols-1 lg:grid-cols-1 gap-8 max-w-2xl mx-auto">
            {projects.map(project => (
                <div class="bg-[#3b3b3b] rounded-lg p-6 flex flex-col">
                    <h3 class="text-2xl font-bold text-white mb-2">{project.title}</h3>
                    <p class="text-slate-400 flex-grow">{project.description}</p>
                    <div class="mt-4">
                        {project.tags.map(tag => (
                            <span class="inline-block bg-[#314245] text-[#FF6941] text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">{tag}</span>
                        ))}
                    </div>
                    <div class="mt-6 flex justify-between items-center">
                    <a href={`https://${project.link}`} target="_blank" rel="noopener noreferrer" class="inline-block bg-[#FF6941] text-white px-4 py-2 rounded hover:bg-[#F2865F] transition">
                        Tjek vores projekt ud
                    </a>
                        <img src={smashLogo.src} alt="SMASH Padelcenter Logo" class="h-10 sm:h-16">
                </div>
                </div>
            ))}
        </div>
    </section>
</Layout>