---

const BASE_URL = import.meta.env.BASE_URL || '/';
const links = [
    { href: `${BASE_URL}`, text: 'Forside' },
    { href: `${BASE_URL}projekter/`, text: 'Projekter' },
    { href: `${BASE_URL}om-os/`, text: 'Om Os' },
    { href: `${BASE_URL}kontakt/`, text: 'Kontakt' }
];
---
<header class="bg-[#2A2A2A]/80 backdrop-blur-sm sticky top-0 z-40 w-full border-b border-[#F2965F]">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
        <a href={BASE_URL}>
            <img alt="logo" src="/logo.png" class="h-14 w-auto" />
        </a>
        <nav class="hidden md:flex space-x-6">
            {links.map(link => (
                <a href={link.href} class="text-slate-300 hover:text-[#FF6941] transition-colors">
                    {link.text}
                </a>
            ))}
        </nav>
        <button id="mobile-menu-button" class="md:hidden">
            <svg class="w-6 h-6" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
        </button>
    </div>
    <div id="mobile-menu" class="hidden md:hidden bg-[#FF6941]">
        <nav class="flex flex-col items-center space-y-4 py-4">
            {links.map(link => (
                <a href={link.href} class="hover:text-[#2A2A2A] transition-colors">
                    {link.text}
                </a>
            ))}
        </nav>
    </div>
</header>

<script>
    document.getElementById('mobile-menu-button')?.addEventListener('click', () => {
        document.getElementById('mobile-menu')?.classList.toggle('hidden');
    });
</script>